skyfield #library for satellite position calculations
sgp4 #required by skyfield for TLE propagation
pandas #dataframs and csv ops
numpy #numerical computations
scikit-learn #library for ml models, metrics, preprocessing
xgboost #2d-3d plotting
matplotlib #3d visualization
plotly # interactive 3d visualization
pytest #framework for unit tests
pytest-cov # code coverage for unit tests
tqdm # progress bars for loops (utility)
python-dateutil #date/time handling (utlitity)